@import 'normalize.css/normalize.css'
@import 'pure/grids-min.css'
@import 'pure/grids-responsive-min.css'

$grey = #62706c

*
  -webkit-font-smoothing: antialiased
  font-smoothing: antialiased

body
  font-family: 'Open Sans', Arial, sans-serif;
  background: #f9f9f9
  color: $grey

.content
  width: 80%
  margin: 0 auto

a
  color: $grey
  text-decoration: none
  &:hover
    color: darker($grey, 10%)

.nav
  text-align: center
  font-size: 15px


.list
  margin: 40px 0;

h1
  text-align: center
  font-weight: 300
  font-size: 35px
  margin: 10px 0;

ul
  margin: 0
  padding: 0

.presentation
  margin: 20px
  display: block
  list-style: none

  &__image
    border: 3px solid white
    width: 100%

  &__info

    padding-left: 10%;
    width: 90%

    h3
      margin: 0;
      font-size: 24px
      font-weight: 300

    p
      font-weight: 300
      font-size: 15px
      line-height: 21px

@media screen and (max-width: 48em)
  h1
    font-size: 30px
  .presentation
    &__info
      width: 100%
      padding: 0
      margin-top: 10px
      text-align: center
