doctype html
html(prefix="og: http://ogp.me/ns#")
  head
    meta(property="og:title" content="Alexander Suevalov. Workshops and Presentations.")
    meta(property="og:url" content="http://pres.suevalov.com")
    meta(property="og:locale" content="en_GB")
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Workshops and Presentation by Alexander Suevalov
    link(rel='stylesheet', type='text/css', href='build/build.css')
    link(href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet" type="text/css")
  body
    <!--[if lt IE 9]><p class="chromeframe">You are using an outdated browser.<a href="http://browsehappy.com/">Upgrade your browser today</a>or<a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a>to better experience this site.</p><![endif]-->

    .content
      h1 Workshops and Presentations
      .nav
        a(href="http://suevalov.com") http://suevalov.com
      ul.list
        li.presentation.pure-g
          .pure-u-1.pure-u-md-1-3
            a(href="/react-native/")
              img.presentation__image(src="images/react-native.png")
          .pure-u-1.pure-u-md-2-3
            .presentation__info
              a(href="/react-native/")
                h3 React Native
              p Building native applications for iOS and Android
        li.presentation.pure-g
          .pure-u-1.pure-u-md-1-3
            a(href="/electron/")
              img.presentation__image(src="images/electron-cover.png")
          .pure-u-1.pure-u-md-2-3
            .presentation__info
              a(href="/electron/")
                h3 Electron
              p What if your application were a browser?
        li.presentation.pure-g
          .pure-u-1.pure-u-md-1-3
            a(href="/css-regression-testing/")
              img.presentation__image(src="images/css-regression-testing.jpg")
          .pure-u-1.pure-u-md-2-3
            .presentation__info
              a(href="/css-regression-testing/")
                h3 CSS Regression Testing
              p What is CSS Regression Testing? Comparison of tools and libraries for implementation this testing approach
        li.presentation.pure-g
          .pure-u-1.pure-u-md-1-3
            a(href="/componentize-the-web/")
              img.presentation__image(src="images/componentize-the-web.jpg")
          .pure-u-1.pure-u-md-2-3
            .presentation__info
              a(href="/componentize-the-web/")
                h3 Componentize The Web
              p Introduction to Web Components and Polymer.
        li.presentation.pure-g
          .pure-u-1.pure-u-md-1-3
            a(href="/keep-yourself-up-to-date/")
              img.presentation__image(src="images/keep-yourself-up-to-date.jpg")
          .pure-u-1.pure-u-md-2-3
            .presentation__info
              a(href="/keep-yourself-up-to-date/")
                h3 Keep yourself up to date
              p A talk about how to keep yourself up to date in extremly rapidly evolving universe of software development

    script.
      (function (d, w, c) {
        (w[c] = w[c] || []).push(function () {
          try {
            w.yaCounter27193172 = new Ya.Metrika({
              id: 27193172,
              trackHash: true
            });
          } catch (e) {
          }
        });
        var n = d.getElementsByTagName("script")[0],
          s = d.createElement("script"),
          f = function () {
            n.parentNode.insertBefore(s, n);
          };
        s.type = "text/javascript";
        s.async = true;
        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
        if (w.opera == "[object Opera]") {
          d.addEventListener("DOMContentLoaded", f, false);
        } else {
          f();
        }
      })(document, window, "yandex_metrika_callbacks");
    noscript
      div
        img(src="//mc.yandex.ru/watch/27193172" style="position:absolute; left:-9999px;" alt="")
